.user-name {
    margin-top: 3rem;

    &__title {
        margin: 0 auto;
        font-family: 'Pacifico', cursive;
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: .2rem;
        border-bottom: 1.5px solid white;
        border-top: 1.5px solid white;
        border-radius: .1rem;
        width: 80%;
        padding: 1rem;
    }
}